@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: #FFD372;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

.row{
    width: 100%;
}

/*************************HEADER*************************/
header {
    height: 126px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header img {
    margin-left: 70px;
}

header nav {
    font-size: 26px;
    width: 70%;

    display: flex;
    justify-content: space-around;
}

nav a {
    color: black;
}

nav a:hover {
    transition: 400ms;
    color: #ffffff;
}
/********************************************************/


/**************************MAIN**************************/
main{
    margin-top: 50px;
}

.row-main{
    display: flex;
    flex-direction: row;
}

.column-main, .cardImg{
    width: 50%;
    align-items: center;
}

.column-main{
    display: flex;
    flex-direction: column;
}

.slogan-text{
    font-family: 'Righteous', sans-serif;
    font-size: 25px;
}

.letter {
    color: #F15B40;
}

.categorias{
    font-size: 26px;
    text-align: center;
    margin-top: 100px;
}

.categ div{
    padding: 0 10px;
}

.cepDiv input{
    width: 200px;
    margin-bottom: 50px;
}
/********************************************************/


/******************MAIN pagina comprar*******************/
.comprar-main{
    display: flex;
    justify-content: space-around;
}

.imagem-descricao{
    display: flex;
    flex-direction: column;
}

.user-actions{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.monstrar-preco{
    display: flex;
    justify-content: space-around;
}
/********************************************************/


/****************RESPONSIVIDADE INDEX.HTML***************/
@media (max-width: 1125px){
    .cardImg{
        display: none;
    }

    .column{
        width: 100%;
    }
}

@media (max-width: 540px){
    .categ{
        display: flex;
        flex-direction: column;
    }

    .categ div{
        margin-top: 30px;
    }

    .categ img{
        width: 200px;
    }

    .slogan-text{
        font-size: 23px;
    }

    header img{
        width: 80px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    nav a {
        font-size: 17px;
    }
}
/********************************************************/